body {
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
	font-variant: normal;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #000000;
}

.search {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type=text] {
  font-size: 16px;
  width: 200px;
  padding: 6px 10px;
  margin: 8px 0;
  margin-right: 10px;
  box-sizing: border-box;
  display: inline-block;
}

button {
  background-color: #428bca;
  color: #f9f9f9;
  border: none;
  border-radius: 5px;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.main {
  margin: 0px auto;
  max-width: 1800px;
}

.cards {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}

.grids {
  display: block;
}

.post-footer {
  width: 100%;
  padding: 10px;
  background-color: #efefef;
  position: absolute;
  bottom: 0;
  display: block;
}

button:hover {
  cursor: pointer;
}

.header {
  padding-left: 40px;
}

.card {
  border: 1px solid black;
  margin: 10px auto;
  min-height: 320px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  width: 960px;
}

.title {
  display: block;
  font-size: 22px;
  background-color: #428bca;
  color: #f9f9f9;
  padding-left: 10px;
  line-height: 42px;
}

.image-card {
  display: block;
  max-width: 100%;
  display: inherit;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  margin: auto;
  border-style: double;
}

.image-container {
  padding: 10px;
  margin-bottom: 40px;
}

.grid-item {
  border: 1px solid black;
  margin: 10px;
  min-width: 100px;
  height: 480px;
  max-width: 640px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.image-grid {
  min-width: 200px;
  height: 90%;
  max-width: 95%;
  display: block;
  margin: auto;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
}

.image-modal {
  min-width: 200px;
  height: 90%;
  max-width: 95%;
  display: block;
  margin: auto;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
}
