body {
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
	font-variant: normal;
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
  display: inherit;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  margin: auto;
  border-style: double;
}

a {
  text-decoration: none;
  color: #000000;
}

.main {
  margin: 0px auto;
  width: 480px;
}

@media only screen and (min-width: 960px) {
  .main {
    width: 960px;
  }
}

.card {
  border: 1px solid black;
  margin: 10px;
  min-height: 320px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.infiniteScroll {
  display: block;
}

.title {
  display: block;
  font-size: 22px;
  background-color: #428bca;
  color: #f9f9f9;
  padding-left: 10px;
  line-height: 42px;
}

.image-container {
  padding: 10px;
  margin-bottom: 40px;
}

.post-footer {
  width: 100%;
  padding: 10px;
  background-color: #efefef;
  position: absolute;
  bottom: 0;
  display: block;
}

.search {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type=text] {
  font-size: 16px;
  width: 200px;
  padding: 6px 10px;
  margin: 8px 0;
  margin-right: 10px;
  box-sizing: border-box;
  display: inline-block;
}

button {
  background-color: #428bca;
  color: #f9f9f9;
  border: none;
  border-radius: 5px;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

.header {
  padding-left: 40px;
}
